<nav class="navbar sticky-top navbar-expand-lg navbar-dark px-5 bg-dark-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">TutorMate</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/tutors">Tutors</a>
          <a class="nav-link" href="/tutors/new">New Post</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currentUser){ %>
            <a href="/register" class="nav-link">Register</a>
            <a href="/login" class="nav-link">Login</a>
          <% } else{ %>
            <span class="nav-link"><%= currentUser.username %></span>
            <a href="/logout" class="nav-link">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
</nav>
