<% layout('layouts/boilerplate')%>
<div class="my-5 row">
    <div class="col-6 offset-3">
        <div class="alert" role="alert">
            <h1 class="alert-heading text-center display-2"><%=err.message%></h4>
        </div>
    </div>
</div>